---
layout: framework2
sidebar1: category-list
sidebar2: archive-list
---

{%- if site.posts.size > 0 -%}

  {%- include functions.html func='log' level='debug' msg='Get value' -%}
  {%- include functions.html func='get_categories' -%}
  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}
  {% assign categories = return %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

  {% assign keys = categories %}
  {% assign field = 'categories' %}
  {%- include views/segments.html -%}

{%- endif -%}
